
// font family
$baseFont : 'Montserat Regular';
$boldFont : 'Montserat Regular SemiBold';

// font-sizes
$font_16 : 1rem; // base font
$font_12 : 0.75rem; // 12px 
$font_14 : 0.875; // 14px 
$font_20 : 1.25rem; // 20px;
$font_30 : 1.875rem; // 30px
$font_48 : 	3rem; // 48px


// theme color
$primary_color : #5E56E7;
$secondary_color : #F8F7FF;

// grey shades
$light_grey : #F0F0F6;
$mild_grey : #A0A0A0;
$dark_grey : #333333;


$white : #FFFFFF;
$black : #000000;