@import './assets/scss/variable';

* {
    box-sizing: border-box;
}
body {
    // background: $light_grey;
    font-family: $baseFont;
    font-size: $font_16;
    padding: 0;
    margin: 0;
}
h1, h2, h3, p {
    margin: 0;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    // @media (max-width: 768px) {
    //     padding: ;
    // }
}